<div class="container">
  <div class="header">
    <h1>Todo List</h1>
    <div class="header-content">
      <button class="btn-add" (click)="openModal()">Add Todo</button>
    </div>
  </div>
  <div class="card" *ngIf="listperPage.length>0 && !loader">
    <div class="list-group" *ngFor="let todo of listperPage">
      <app-todo [todoInput]="todo" (deleteTodoItem)="onDeleteTodoItem($event)"
        (completedTodo)="onCompletedTodo($event)"></app-todo>
    </div>
  </div>
  <div class="loader" *ngIf="loader"></div>
  <div class="pagination">
    <button class="button btn-prev" (click)="previousPage()" [disabled]="currentPage == 1">Previous</button>
    <button class="button btn-next" (click)="nextPage()"
      [disabled]="currentPage * itemsPerPage >= listOfTodos.length">Next</button>
  </div>
</div>


<div class="modal-overlay" *ngIf="showModal">
  <div class="modal">
    <div class="modal-header">
      <h2>Add Todo</h2>

      <button class="close-button btn" (click)="closeModal()">
        <svg>
          <use href="../../../assets/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="modal-body d-flex">
      <form>
        <input type="text" placeholder="Add title" name="title" [(ngModel)]="todoTitleValue"
          (keyup.enter)="addTodoItem($event)">
      </form>
      <button class="btn-add" (click)="addTodoItem($event)">Add </button>

    </div>
  </div>
</div>